body {
    overflow-x: hidden;
}

.banner.728x90{
	text-align:center;
	height:90px;
}

.banner.160x600{
	float:left;
	margin-left:20px;
	width:160px;
}
/****** POST  ******/

#respuestas blockquote blockquote {display:none;}

/***** estilos *****/

.box_cuerpo ol.filterBy#filterBySemana {
	display: block;
}

.listDisc {
  padding-left:20px
}

.listDisc li {
  list-style:disc;
}

ul.numberList  {
  padding:0 8px 0 28px
}

ul.numberList li {
  list-style: decimal-leading-zero;
}


.comentarios_container {
	overflow:hidden;
}
/****** Perfil ******/
.perfil-content {
	overflow: hidden;
}

.perfil-content .title-w {
	margin-top: 0;
	padding-bottom: 5px;
	border-bottom: 1px solid #c1c1c1;
	margin-bottom: 5px;
}


.perfil-content .title-w h3,.perfil-content .title-w h2 {
	margin-top: 0;
	font-size: 15px;
	margin-bottom: 0;
	float: left;
}

.perfil-sidebar .title-w {
	padding-bottom: 5px;
	border-bottom: 1px solid #C1c1c1;
	margin-bottom: 5px;
	color: #000;
}

.perfil-sidebar .title-w h3 {
	font-size: 14px;
	margin: 0;
	float: left;
}

.perfil-sidebar .title-w span {
	float: right;
	font-size: 12px;
	color: #0077CC;
	font-weight: bold;
}

.perfil-content .title-w  span {
	float: right;
}

.perfil-paginador {
	padding: 5px;
}

a.siguiente-perfil, a.anterior-perfil {
	display: block;
	padding: 5px 10px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:15px;
	color: #000!important;
	font-size: 13px;
}

.perfil-sidebar li {
	float: left;
	margin: 5px 5px 0 5px;
}

.widget .see-more {
	background: #EEE;
	background: #EEE -moz-linear-gradient(0% 100% 90deg,#CCC, #EEE);
	background: #EEE -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#CCCCCC));
	color: #333!important;
	border: 1px solid #CCC;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	font-weight:bold;
	padding: 2px 7px;
	display: block;
	float: right;
	margin-top: 5px;
	text-shadow: 0 1px 0 #EEE;
	clear: both;
}

.ultimos li.see-more a {
	color: #333!important;
}


.widget .see-more:hover {
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
}


.perfil-content .photo_small {
	width: 150px;
	height: 150px;
	background: #f7f7f7;
	padding: 20px;
	margin: 0 5px 5px 0;
	float: left;
	text-align: center;
}

.perfil-content .photo_small img {
	max-width: 150px!important;
	max-height: 150px!important;
}


.perfil-content .photo_small h2 {
	font-size: 11px;
	color: #666;
	padding: 0;
	margin: 0;
	font-weight: normal;
	border: none;
} 

.big-info li {
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px dotted #CCC;
}

	.big-info li label {
		color:#777777;
		display:inline-block;
		vertical-align:top;
		width:170px;
	}
	
	.big-info li.sep {
		background: #F7F7F7;
	}

	.big-info li h4 {
		color: #FF6600;
		margin: 0px;
	}
	
	.big-info li h4 a {
		color: #0077CC;
		margin: 0px;
	}
	
.comentario-p {
	width: 450px;
	float: left;
	overflow: hidden;
	line-height: 18px;
}

span.fecha-p {
	float: right;
	color: #888;
	font-size: 11px;
}

.big-info li strong {
	display:inline-block;
}

/****** Buscador ******/


/***** login box *****/
/* login noscript */

#ult_comm li {
  overflow:hidden;
}

 #ult_resp li {
   overflow:hidden;
 }

.gif_cargando{
	background:transparent url('images/cargando.gif') no-repeat scroll left top;
	display:none;
	height:16px;
	width:16px;
	top:4px;
	position:relative;
}

#gif_cargando_add_comment{
	margin-left: 740px;
	margin-top: 28px;
	position: absolute!important;
}

.msg_add_comment{
	display: none;
	margin-top: 5px;
	text-align: center;
	font-weight: bold;
	color: #AD1010;
}

/* New CSS */

.userInfoLogin .monitor-notificaciones  {
	position: relative;
	z-index: 9000;
}
.notification-detail li.unread {background: #ffffcc}
.notification-detail .notification-info span.time {color: #808080;font-size: 11px;text-transform:lowercase;}
.notification-detail .notification-info span a {font-size: 13px;}

.notification-detail .notification-info span.action {
			color: #000;
			font-size: 13px;
			display:block;
			margin-top:5px;
		}
		
		div.group-4,div.group-3 {
			display: block;
			width: 36px!important;
			height: 36px!important;
			background-position:-17px 2px;
			margin-right:10px;
			float: left;
		}
		
		
	 div.group-6 {
			display: block;
			width: 36px!important;
			height: 36px!important;
			background-position:-17px -31px;
			margin-right:10px;
			float: left;
		}
		
		li.group .notification-info .action .icon-noti {
			display: none!important;
		}
		
		li.group strong {
			font-weight: bold;
			font-size: 13px;
			color: #000;
		}

	li.categoriaCom {
		padding: 5px;
		border-bottom:1px solid #CCC;
		border-top: 1px solid #FFF;
		margin: 0;
		height: 32px;
		font-size: 10px;
		position:relative;
	}
	
	
	/* TABLAS */
	
	.thead {
		font-size: 11px;
		color: #666;
		border-bottom: 1px solid #ccc!important;
		padding:4px;
	}
	
	.thead.titulo {
		width: 380px;
	}

	tr.temas td {
		padding: 4px;
		border-bottom: 1px solid #CCC;
	}

	.linea {
		background: transparent url('images/line.gif') repeat-y scroll 0 0
	}
	
	.linea_left {
		background-position: left;
	}
	
	.linea_right {
		background-position: right;
	}
	
	.Container {
		font-size:12px;
		color: #333;
		position: relative;	    
	}

	.Container table {
		width: 100%;
		margin:5px 0;
	}
	
	.Container h1 {
		margin: 0;
		font-size: 21px;
		padding:3px;
	}
	
	.Container p {
	  font-size:12px;
	  line-height: 1.7em;
	  color:#111;

	}
	.Container img.dialogBox {
    left:-10px;
    position:absolute;
    top:6px;
	}
	
	.agregar_comentario .Container img.dialogBox {
  left:-10px;
  position:absolute;
  top:10px;
  }
  
  
	* html .Container img.dialogBox {
    display:none;
	}
	.dataLeft, .dataRight {
		float:left;
		font-size:12px;
		line-height:17px;
		margin-right:2%;
		text-align:right;
		
	}
	.dataLeft {
		font-weight:bold;
		width:120px;
		margin:0;
	}
	
	.dataRight {
		text-align:left;
		width:350px;
		margin:0;
		margin-left: 2%;
	}
	
	.breadcrump {
	  width: 875px;
	  height:30px;
	  overflow:hidden;
	  float:left;
	  margin-bottom:10px;
	}
  .breadcrump ul, .breadcrump ul li,.breadcrump ul li.first,.breadcrump ul li.last    {
	  background-image: url('images/bgBread.gif');
	  background-repeat: no-repeat;   
   }
	 .breadcrump ul {
	   margin-bottom:10px;
	   float:left;
	   font-weight:bold;
	   background-position: left -62px;
     background-repeat: repeat-x;
     text-shadow: 0 1px 0 #fff;
	 }
	 .breadcrump ul li {
     float:left;
     padding:8px 5px 8px 22px;
     height:14px;
     background-position: left 0px;
 	 }
	 .breadcrump ul li.first {
	   padding:8px 0 8px 8px;
	   background-position: left -31px;
	 }
	 .breadcrump ul li.last {
 	   padding:8px;
 	   background-position: left -93px;
 	 }
	 .breadcrump ul li a  {
     color:#165a9e;
 	 }

	#temaComunidad  {
		float:left;
	}
	#temaComunidad img {
	  max-width: 600px;
	     width: expression(this.width > 600 ? 600: true);
	}
	h1.titulopost {
		font-size: 15px;
		float:left;
		line-height:18px;
    width:460px;
	}
	
	.temaContainer {
		float: left;
		margin-left: 12px;
		color: #333;
	}
	
	.temaBubble {
		float:left;
		width: 760px;
	}
	
	.temaCont {
	  float:right;
	}
	
	
	.bubbleCont {
	  background:#f7f7f7;
	  border: 1px solid #CCC;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	  padding:12px;
	overflow:hidden;
	}
	
	.comentarioContainer {
	  background:#f7f7f7;
	  border-bottom: 1px solid #CCC;
	  border-left: 1px solid #CCC;
	  border-right: 1px solid #CCC; 
	} 
	
	.titulorespuestas {
	  margin:0;
		font-size: 14px;
		margin-bottom:0;
	}
	
	.mostrarAnteriores {
	  text-align:center;
	  float:right;
    margin-bottom:10px;
    width:626px;
	}
	.mostrarAnteriores a {
	  padding: 10px;
	  color:#1b1b1b;
	  font-weight:bold;
	  display:block;
	  background:#f7f7f7;
	  border: 1px solid #CCC;
	  -moz-border-radius: 5px;
	  -webkit-border-radius: 5px;
	}
	
	.mostrarAnteriores a:hover {
	  background:#CCC;
	  border:1px solid #EEE;
	}

	.respuesta, .miRespuesta {
		margin-top: 10px;
		clear:both;
	}

	#respuestas .respuesta.here {
	  background: #FFFFCC;
	  font-weight:bold;
	}
	
	.respuesta img.imagen {
	  max-width: 600px;
	     width: expression(this.width > 400 ? 400: true);
	}
	
/* Comunidades */

.c_input{
	width: 400px;
}

.c_input_desc{
	width:200px;
	height:380px;
}

.desform {
  color:#999;
}
  #modalBody .data {padding: 0.25em 0;margin-top: 5px; clear:both;}
  
  .titleHighlight {
    background:#FFFFCC;
    border: 1px solid #e9e94f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    color:#45450e;
    font-size:16px;
    padding: 8px;
  }
  
	/* Form styles */
	
	div.form-container { padding: 0 10px;}

	p.legend { margin-bottom: 1em; }
	p.legend em { color: #C00; font-style: normal; }

	div.errors { margin: 0 0 10px 0; padding: 5px 10px; border: #FC6 1px solid; background-color: #FFC; }
	div.errors p { margin: 0; }
	div.errors p em { color: #C00; font-style: normal; font-weight: bold; }

	div.form-container form p { margin: 0; }
	div.form-container form p.note { margin-left: 170px; font-size: 90%; color: #333; }
	div.form-container form legend { font-weight: bold; color: #666; }
	div.form-container form  div.data { clear:both; padding: 0.25em 0;margin-top: 5px; clear:both;}
	div.form-container form  div.dataL { padding: 0.25em 0;margin-top: 5px; width: 48%;float:left;}
	div.form-container form  div.dataR { padding: 0.25em 0;margin-top: 5px; width: 48%;float:right;}
	
	.c_input, .c_input_desc { margin-top: 5px;padding:8px; width: 95%; background: #FFF;}
  div.form-container select { margin-top:5px; }
	div.form-container form  div.postLabel { padding: 5px 0 0 0; display:block; }
	
	div.form-container label, div.form-container span.label { font-weight: bold;margin-right: 10px; font-size: 12px;padding-right: 10px; display: block;  text-align: left; position: relative; }
	div.form-container label.error, 
	div.form-container span.error { color: #C00; }
	div.form-container label em, 
	div.form-container span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
	div.form-container input.error { border-color: #C00; background-color: #FEF; }
	div.form-container input:focus,
	div.form-container input.error:focus, 
	div.form-container textarea:focus {	background: #FFC; border-color: #FC6; }
	div.form-container div.controlset label, 
	div.form-container div.controlset input { display: inline; float: none; }
	div.form-container div.controlset div { margin-left: 170px; }
	div.form-container div.buttonrow { margin-left: 180px; }
	.buttonAction {padding-left:170px;}
	
	div.postLabel label {
	  display: inline;
	  margin:0;
	  padding:0;
	}
	
	#ComInfo{
		overflow:hidden;
	}
	
	/* form2 */
	
	div.form2 input.c_input, div.form2 textarea.c_input_desc, .box_cuenta input{
	  padding:5px;
	  border: 1px solid #b1b1b1;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
    
	}
	div.form2 .dataR select, div.form2 .dataL select {
	  margin:10px 0 0 0;
	  width: 98%;
	}
	
	div.form2 .dataRadio {
	  font-weight: bold;
	}
	
	div.form2 .dataRadio input {
	  margin-right: 5px;
	}
  
	
	div.form2 .dataRadio .descRadio {
	  color:#666666;
    font-size:11px;
    font-weight:normal;
    margin:0 0 5px 24px;
	}
	.form-add-post select option {
    padding: 3px 3px 3px 28px;
    background-position: 5px center;
    background-repeat: no-repeat;
}
	
/* Fin Comunidades */

.status_error{
	color:red;
}

/* CSS markItUp */
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}

.markItUp  {
	margin:0;
}
.markItUpContainer  {
	font:11px Verdana, Arial, Helvetica, sans-serif;
}
.markItUpEditor {
	padding:5px;
	clear:both; display:block;
	line-height:18px;
	overflow:auto;
	margin-top:;
}
.markItUpHeader {
  padding-bottom:5px;
}
.markItUpFooter {
	width:100%;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/markit-handle.png);
	cursor:n-resize;
}
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
	margin:0 0 4px 4px;
}

.markItUpHeader ul li ul li	{
	width: auto;
}


.markItUpHeader ul li:hover > ul{
	display:block;
}
.markItUpHeader ul .markItUpDropMenu {z-index:1;}
.markItUpHeader ul .markItUpDropMenu li {
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul {
	display:none;
	position:absolute;
	top:25px; right:0px;	
	background:#FFF;
	border:1px solid #CCC;
}
.markItUpHeader ul ul li {
	float:none;
	border-bottom:1px solid #CCC;
}
.markItUpHeader ul ul .markItUpDropMenu {
	background: #FFF url(images/markit-submenu.png) no-repeat 100% 50%;
}
.markItUpHeader ul .markItUpSeparator {
	display: none;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}
/* next rows of buttons */
.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px; 
}
.markItUpHeader ul ul ul li {
	float:none;
}

.markItUpHeader ul ul li a {
	background:#FFF;
	border: none;
	color: #34495E;
}

.markItUpHeader ul a {
  background-repeat:no-repeat;
  display:block;
  height:25px !important;
  text-indent:-10000px;
  width:25px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
.markItUpHeader ul a:hover{border-color: #b5b5b5;}
.markItUpHeader ul a:active{border-color: #4a4a4a;box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);}

.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px; 
	padding:7px 5px 1px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3B8BAC;
}


/* Botones */
.markItUp .markItUpButton1 a {
	background-image: url('images/editor/bold.svg');
    background-position: 6px;
}
.markItUp .markItUpButton2 a {
	background-image: url('images/editor/italic.svg');
	background-position: 6px;
}
.markItUp .markItUpButton3 a {
	background-image: url('images/editor/underline.svg');
	background-position: 6px;
}
.markItUp .markItUpButton4 a {
	background-image: url('images/editor/izquierda.svg');
	background-position: 6px;
}
.markItUp .markItUpButton5 a {
	background-image: url('images/editor/centro.svg');
	background-position: 6px;
}
.markItUp .markItUpButton6 a {
	background-image: url('images/editor/derecha.svg');
	background-position: 6px;
}
.markItUp .markItUpButton7 a {
	background-image: url('images/editor/color.svg');
	background-position: 6px;
	background-repeat: no-repeat;
}
	/* Seleccionar Color */
	.markItUpButton .markItUpButton7-1 a{
		color:darkred;
	}
	.markItUpButton .markItUpButton7-2 a{
		color:red;
	}
	.markItUpButton .markItUpButton7-3 a{
		color:orange;
	}
	.markItUpButton .markItUpButton7-4 a{
		color:brown;
	}
	.markItUpButton .markItUpButton7-5 a{
		color:yellow;
	}
	.markItUpButton .markItUpButton7-6 a{
		color:green;
	}
	.markItUpButton .markItUpButton7-7 a{
		color:olive;
	}
	.markItUpButton .markItUpButton7-8 a{
		color:cyan;
	}
	.markItUpButton .markItUpButton7-9 a{
		color:blue;
	}
	.markItUpButton .markItUpButton7-10 a{
		color:darkblue;
	}
	.markItUpButton .markItUpButton7-11 a{
		color:indigo;
	}
	.markItUpButton .markItUpButton7-12 a{
		color:violet;
	}
	.markItUpButton .markItUpButton7-13 a{
		color:black;
	}
.markItUp .markItUpButton8 a {
	background-image: url('images/editor/tama.svg');
	background-position: 6px;
	background-repeat: no-repeat;
}
	/* Seleccionar Fuente */
.markItUp .markItUpButton9 a {
	background-image: url('images/editor/fuente.svg');
	background-position: 6px;
	background-repeat: no-repeat;
}
	.markItUpButton .markItUpButton9-1 a{
		font-family: 'Arial';
	}
	.markItUpButton .markItUpButton9-2 a{
		font-family: 'Courier New';
	}
	.markItUpButton .markItUpButton9-3 a{
		font-family: 'Georgia';
	}
	.markItUpButton .markItUpButton9-4 a{
		font-family: 'Times New Roman';
	}
	.markItUpButton .markItUpButton9-5 a{
		font-family: 'Verdana';
	}
	.markItUpButton .markItUpButton9-6 a{
		font-family: 'Trebuchet MS';
	}
	.markItUpButton .markItUpButton9-7 a{
		font-family: 'Lucida Sans';
	}
	.markItUpButton .markItUpButton9-8 a{
		font-family: 'Comic Sans';
	}
.markItUp .markItUpButton10 a, .markitcomment .markItUp .markItUpButton4 a, .buttons .vid {
	background-image: url('images/editor/video.svg');
	background-position: 6px;
}
.markItUp .markItUpButton11 a {
	background-image: url('images/editor/musica.svg');
	background-position: 6px;
}
.markItUp .markItUpButton12 a, .markitcomment .markItUp .markItUpButton6 a {
	background-image: url('images/editor/flash.svg');
	background-position: 6px;
}
.markItUp .markItUpButton13 a, .markitcomment .markItUp .markItUpButton5 a, .miRespuesta .markItUp .markItUpButton5 a, .buttons .img  {
	background-image: url('images/editor/imagen.svg');
	background-position: 6px;
}
.markItUp .markItUpButton14 a, .markitcomment .markItUp .markItUpButton6 a,.miRespuesta .markItUp .markItUpButton6 a, .buttons .url  {
	background-image: url('images/editor/link.svg');
	background-position: 6px;
}
.markItUp .markItUpButton15 a, .markitcomment .markItUp .markItUpButton7 a, .miRespuesta .markItUp .markItUpButton7  a, .citarAnswer  {
	background-image: url('images/editor/citar.svg');
	background-position: 6px;
}
.markItUp .markItUpButton16 a {
	background-image: url('images/editor/spoiler.svg');
	background-position: 6px;
}
.markItUp .markItUpButton17 a {
	background-image: url('images/editor/subir.svg');
	background-position: 6px;
}

/* FIN - CSS markItUp */

#mask {
	position:absolute;
	z-index:100;
	left:0px;
	top:0px;
}
/* DIALOGO NUEVO HIPER BETA */

.modalForm {
  text-align: left;
  background: #EEE;
  border: 1px solid #b9b9b9;
  margin-bottom: 10px;
  padding: 5px;
  font-size:11px;
  font-weight:normal;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#modalBody .modalForm.here {
  background: #ffffcc;
  border: 1px solid #bebe33;
}

.buttons,#buttons {text-align: center;padding-top: 15px;}

#body_resp {
  margin-bottom: 10px;
}

#mydialog #procesando {
	display: none;
	background: white;
	opacity: 0.9;
	filter: alpha(opacity=90); 
	z-index:102;
	position:absolute;
	height: 100%;
	width: 100%;
}
#mydialog #procesando #mensaje {
	color:#222;
	position:relative;
	height: 100%;
}

#mydialog #procesando #mensaje img {
	left:44%;
	margin-right:10px;
	position:absolute;
	top:29%;
	vertical-align:middle;
	width:25px;
}

#mydialog #procesando #mensaje div {
  font-size:20px;
  font-weight:bold;
  margin-left:-25px;
  margin-top:25px;
  text-align:center;
}


#mydialog #buttons {
	width: 100%;
}

/* Monitor nuevo */

.notificaciones-list .tipsy-inner {
	background-color: #FFFFCC;
}

.tipsy { padding: 3px 3px 5px 3px; font-size: 10px;background-repeat: no-repeat; }
  .tipsy-inner { 
  padding: 4px 5px;
  background: #34495E;
  color: white;
  max-width: 200px; 
 	text-shadow: 0 1px 1px #000;
 	border: 1px solid #000;
 	text-align: center;
 	font-weight: bold; 
 	-moz-border-radius:3px;
 	-webkit-border-radius: 3px;
 	}


.paginadorBuscador {
  background: #F7F7F7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width:930px;
  padding: 5px;
  margin-top: 10px;   
  float:right;
  position:relative;
}

.paginadorBuscador .pagesCant {
  width:100%;
}
.paginadorBuscador ul {
  padding:4px;
  text-align: center;
}

.paginadorBuscador ul li.numbers {
  font-weight: bold;
  padding:0;
}

.paginadorBuscador ul li.numbers a {
  padding: 2px 5px;
  color:#000;
  text-decoration:underline;
}
.paginadorBuscador ul li.numbers a.here {
  background:#0067CD;
  color:#FFF;
  text-decoration: none;
}

.paginadorBuscador ul li.numbers a:hover {
  background:#CCC;
  color:#0067CD;
}

.paginadorBuscador ul li {
  border: none;
  background: none;
  display:inline;
  margin-right: 5px;
  padding: 3px 0;
  font-size:13px;
}
.paginadorBuscador ul li a {
  color: black;
  padding:0;
}

.paginadorBuscador .next a, .paginadorBuscador .before a {
  font-weight:bold;
  padding: 5px 10px;
  color: #FFF;
  background: #383838;
 	-moz-border-radius: 3px;
 	-webkit-border-radius: 3px;
 	display:block;
}

.paginadorBuscador .next, .paginadorBuscador .before {
  position:absolute;
  top:5px;
}

.paginadorBuscador .next {
  right: 5px;
}

.paginadorBuscador .before {
  left: 5px;
}

	.comentario-post {
		margin-bottom: 20px;
	}
	
	.respuesta-post {
		margin-bottom: 10px;
	}
	
	
			.spinner {
				background-image: url('images/spinner.gif');
				background-position: 0 0!important;
				background-repeat: no-repeat!important;
			}
			.avatar-box .spinner span {
				background: url('images/spinner.gif') right 0px no-repeat!important;
			}
			
			.avatar-box li.comprobando a {
				color: #9F9F9F!important;
			}

	.dar-puntos {
		color:#999999;
		font-weight:normal;
		margin:5px;
		text-align:center;
	}
	.dar-puntos span {
		color:#333333;
		font-size:12px;
		font-weight:bold;
	}

    .post-contenido img{
        max-width: 100%;
    }
     .post-contenido iframe{
	display: block;
    overflow: hidden;
    padding: 0;
    position: relative;}
	.post-contenido span a {word-break: break-all;}
	

	.mensajes.ok {
		background:#C4E19B none repeat scroll 0 0;
		color:#333333;
		font-weight:bold;
		margin-bottom:10px;
		padding:10px;
		text-align: center;
	}

	.mensajes.error {
		background:#FFFFCC none repeat scroll 0 0;
		color:#333333;
		font-weight:bold;
		margin-bottom:10px;
		padding:10px;
		text-align: center;
	}
	
.especial1 { border-left: 5px solid #3498DB;}
.especial2  { border-left: 5px solid #ff3860; }
.especial3 { border-left: 5px solid #23d160; }

/* Registracion 2.0 */
	.pasoDos {
		display:none;
	}
	
	.pasoDos select{
		width:120px;
		margin-bottom: 5px;
	}
	#mask  {
		background: #111;
		opacity: 0.6;
		   filter: alpha(opacity=60); 
	}

	.registro .disabled {
    filter: alpha(opacity=75); -khtml-opacity: 0.75; -moz-opacity: 0.75; opacity: 0.75
	}
	
	#modalBody input.checkbox {
		margin: none;
		border: none;
		background: #FFF;
		width: auto;
		padding: 0;
		-moz-border-radius: 0;
	}
		
	.registro #dialog {width: 450px!important;}
	
.close_dialog {
	position: absolute;
	right:15px;
	top:15px;
}

/* Autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 12px;
	line-height: 16px;
	overflow: hidden;
}
.ac_loading {
	background: white url('images/cargando.gif') right center no-repeat;
}
.ac_odd {
	background-color: #eee;
}
.ac_over {
	background-color: #0A246A;
	color: white;
}
/* FIN - Autocomplete */

.pag-vid {
	width:930px!important;
}

.pag-vid .before a,.pag-vid .next a{
	display:block!important;
}

.help {display: none;}
.help em, .help span  {font-style: normal;}
.help.info span em { color: #3498DB; }
.help.error span em  {color: #ff3860;}
.help.ok span em { color: #23d160; }
		
/* TABBED */

.sidebar-tabs .avatar-big-cont .avatar-loading {
	width: 128px;
	position: absolute;
	height: 128px;
	opacity: 0.8;
	   filter: alpha(opacity=80); 
	background: url(images/large-loading.gif) no-repeat scroll 45px 45px;
}
.tabbed-d .sidebar-tabs .avatar-big {display:block;}


.sidebar-tabs .avatar-big-cont {
	position: relative;
	width: 120px;
	height: 120px;
	overflow: hidden;
	margin:  10px auto;
	border-radius: 50%;
}

/* First, some basic resets, body styles, etc. */
.tabbed-d  div, .tabbed-d  span, .tabbed-d  fieldset, .tabbed-d  form, .tabbed-d label, .tabbed-d legend
{border: 0;}

/* Here's our form stuff */

input.disabled {
	opacity: 0.2;
	filter: alpha(opacity=20); 
}

.jcrop-holder { text-align:left }
.jcrop-vline, .jcrop-hline { font-size:0; position:absolute; background: white top left repeat }
.jcrop-vline { height:100%; width:1px !important }
.jcrop-hline { width:100%; height:1px !important }
.avatar-crop{max-width:auto;}
.jcrop-handle { font-size:1px; width:15px !important; height:16px !important; background:url('images/handle.png') no-repeat top left; *width:9px; *height:9px }
.jcrop-tracker { width:100%; height:100% }
.custom .jcrop-vline, .custom .jcrop-hline { background:yellow }
.custom .jcrop-handle { border-color:black; background-color:#C7BB00; -moz-border-radius:3px; -webkit-border-radius:3px }
div.alert-cuenta { display: none }

#loading {
position: fixed;
top: 0;
left: 44%;
width: 120px;
text-align: center;
background: #444;
background: rgba(0, 0, 0, 0.7);
color: white;
font-size: 14px;
padding: 8px 10px;
-webkit-border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
border-radius: 0 0 5px 5px;
z-index: 10003;
}

div.buttons ul li{
    color:#777777;
    font-weight:bold;
    line-height:24px;
    margin-right: 5px;
    float:left;
}
div.buttons ul a{
    background-repeat:no-repeat;
    display:block;
    height:16px !important;
    margin:3px;
    text-indent:-10000px;
    width:16px;
}
#scrollToTop:link, #scrollToTop:visited {
display: none;
width: 40px;
height: 40px;
position: fixed;
bottom: 35px;
z-index: 9;
right: 35px;
background: #3498DB;
cursor: pointer;
color:#FFF;
text-align: center;
font-size: 2.5em;
}

.sticky {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 50px solid #ff3860;
    border-top: 50px solid #ff3860;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    z-index: 1;
}
.sticky i{
    position: absolute;
    top: -30px;
    right: -35px;
    font-size: 35px;
    color: #fff;
}
.cate{
	position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;
    border-radius: 290486px 0 0 290486px;
    height: 2em;
    background-color: #23d160;
    color: #fff;
    padding: 0 25px;
    font-weight: bold;
    line-height: 1.9;}

	
.card-image{overflow: hidden;}
.borde-p{
	position: relative;
    display: block;
    margin: 0 0 15px 0;
    width: 120px;
	border-bottom: 3px solid #3498DB;}
.p-5{padding: 0 5px;}
.medalla{margin: 10px auto;}
.mantenimiento{font-size: 15em;}
.Story_Message .mvm img {max-width:100%!important}
.status2{right: -1px;bottom: -3px;position: absolute;}
.is-dark{background-color: #34495E;}
.white{color: whitesmoke;}
.blanco {color: whitesmoke!important;border: none !important;line-height: 2;}
.pag{padding: 15px;margin: 0 10px 10px 10px;width: 95.5%;}
.footer{padding: 40px 30px;}
.descrip{min-height: 60px;}
.s-descrip{min-height: 68px;}
.mpRContent{width: 75%;display: inline-block;padding-right: 30px;}
.mpOptions {width: 25%;display: inline-block;float: right;}
.ava_m{max-height: 30px!important;}
.round{border-radius: 50%;}
.card{float: left;width: 46.5%;margin: 0 10px 10px 10px;display: inline-block;}
.main{background: #ecf0f1;}
.content:not(:last-child){margin-bottom: 5px;}
.stats{background-color: white;padding:10px;}
.home{background-color: white;}
.autor{float:right}
.comment-content img{max-width:100%}
.banner img{max-width: 100%;}
.perfil{margin:0 auto;}
.perfil-cuerpo{margin-bottom: 20px;}
.hidden{display: none;}
.seguidor{width:22%; margin:0 10px;display:inline-block;}
.modal-card-body{max-height: 25em;}
.seguir{list-style-type: none;}
.tops{float: left;width: 46.5%;margin: 0 10px 10px 10px;}
.aviso_0:before{content: "\f05a";color:#3498DB;}
.aviso_1:before{content: "\f071";color:#F1C40F;}
.aviso_2:before{content: "\f132";color:#9B59B6;}
.aviso_3:before{content: "\f05e";color:#ff3860;}
.aviso_4:before{content: "\f06b";color:#2ECC71;}
.preview img {max-width: 100%;}
.preview {height: auto!important;}
.mpb{width: 25%;float: right;}
.miembro{width:30%; margin:0 10px;display:inline-block;}
.badge{
    background: #ff3860;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    line-height: 1.2rem;
    padding: 1px 6px;
	margin-left: 5px;}
@media screen and (max-width: 769px){
.card{width: 100%;margin: 10px 0 0 0;}
.tops{width: 100%;margin: 10px 0 0 0;}
.section{padding: 10px;}
.autor{float:none;margin:0 auto;}
.rango{text-align: center;}
.seguidor{width: 100%;margin:0;}
.registro  #dialog {width: 95%!important;position:fixed!important;}
.consejos{display:none;}
.mpRContent{width: 100%;padding-right:0;}
.mpOptions {width: 100%;float:none;}
 #dialog{max-width: 95%;}
.preview #dialog{width: 95%;}
.preview{width: 95%!important;}
.miembro{width: 100%;margin:0;}
.oculto{display: none;}
.post-contenido iframe{width: 100%;}
}